<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="<%= product.imageUrl %>"
                                alt="<%= product.title %>">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$<%= product.price %></h2>
                            <!--Display each tag in small print-->
                            <label for="tags-ul">Tags:</label>
                            <ul id="tags-ul">
                                <% product.tags.forEach(tag => { %>
                                    <li>
                                        <%= tag %>
                                    </li>
                                <% }); %>
                            </ul>
                            <p class="product__description"><%= product.description %></p>
                        </div>

                        <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                    </article>
                <% } %>
            </div>
            <section class="pagination">
                <!--Always show the first page-->
                <a href="/?page=1">1</a>

                <!--If we have a previous page that's not the first, show it-->
                <% if (hasPreviousPage && previousPage !== 1) { %>
                    <a href="/?page=<%= previousPage %>">&lt--</a>
                <% } %>

                <!--Previous arrow-->
                <!-- <a href="/?page=<%= hasPreviousPage ? previousPage : currentPage %>">&lt--</a> -->

                <!--Show current page if current page is not the first-->
                <% if (currentPage !== 1) { %>
                    <a class="active" href="/?page=<%= currentPage %>"><%= currentPage %></a>
                <% } %>

                <!-- If we have a next page that's not the last, show it-->
                <% if (hasNextPage && lastPage != nextPage) { %>
                    <a href="/?page=<%= nextPage %>">--&gt</a>
                <% } %>

                <!-- If last page is not equal to the current one-->
                <% if (lastPage != currentPage) { %>
                    <a href="/?page=<%= lastPage %>"><%= lastPage %></a>
                <% } %>
            </section>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>